**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstartsettings.json
**/.vs
**/.vscode
**/bin
**/node_modules
**/npm-debug.log
**/obj
**/wwwroot/uploads
**/.DS_Store
**/*.sln
**/*.user
**/.gitattributes
**/Dockerfile*
README.md
